/*kleuren

achtergrond #F0F8FF
accent #98C1D9
knoppen #3D5A80
tekst #293241

*/

body, html {
    background-color: #F0F8FF;
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
h1 {
    text-align: center;
}



/*nav bar*/
.nav {
    padding-bottom: 20px; /*spatie onder nav bar*/
}
ul {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #98C1D9;
    text-align: center;
}
a {
    color: #16423c;
    text-decoration: none;
}
li {
    display: inline;
    margin: 15px;
    padding: 0px;
    color: white;
}
li.nav_act {
    margin: 0px;
    padding: 15px;
    background-color: #6a9c89;
    border-radius: 5px;
}
li.nav_hover:hover {
    margin: 0px;
    padding: 15px;
    background-color: #3D5A80;
    border-radius: 5px;
}



/*timeline*/

.timeline {
    background-color: #c4dad2;
    width: 50%;
    margin: auto;
}



/*beschrijvingen*/
#beltec {
    padding-bottom: 50px;
}
.container_beltec {         /*vakantiewerk*/
    display: flex;
    width: 90%;

}
.foto_beltec {
    width: 200px;
    padding-left: 30px;
}

#em {
    padding-bottom: 50px;
}
.container_vti {            /*midelbaar onderwijs*/
    display: flex;
    width: 90%;
}
.foto_vti {
    width: 200px;
    padding-right: 30px;
    padding-top: 25px;
}

.container_plantijn {       /*Bachelor*/
    display: flex;
    width: 90%;
}

.p_plantijn {
    padding-top: 100px;
}

.container_siemens {        /*Siemens*/
    display: flex;
    width: 90%;
    padding-bottom: 50px;
}
.foto_siemens {
    width: 300px;
    padding-right: 30px;
}

.container_maes {           /*Maes*/
    display: flex;
    width: 90%;
    padding-bottom: 50px;
}
.foto_maes {
    width: 300px;
    padding-left: 30px;
}

.container_daf {            /*DAF*/
    display: flex;
    width: 90%;
    padding-bottom: 50px;
}
.foto_daf {
    width: 300px;
    padding-right: 30px;
}

#zelfst {
    padding-bottom: 50px;
}
.container_zelfst {
    display: flex;
    width: 90%;
    padding-bottom: 50px;
}
.foto_zelfst {
    width: 200px;
    padding-left: 30px;
}



/*knop "naar boven"*/
.top_container {
    text-align: center;
    padding: 50px;
}
.top {
    padding: 10px;
    background-color: #98C1D9;
    border: none;
    border-radius: 10px;
    font-size: large;
}
.top:hover {
    background-color: #3D5A80;
    color: white;
    font-size: large;
}



/*footer*/
.footer {
    padding-top: 50px; 
    padding-bottom: 30px;/*spatie onder nav bar*/
}
.ul_footer {
    text-align: center
}

table {
    text-align: left;
}