/*kleuren

achtergrond #F0F8FF
accent #98C1D9
knoppen #3D5A80
tekst #293241

*/

body, html {
    background-color: #F0F8FF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*nav bar*/
.nav {
    padding-bottom: 20px; /*spatie onder nav bar*/
}
ul {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #98C1D9;
    text-align: center;
}
a {
    color: #293241;
    text-decoration: none;
}
li {
    display: inline;
    margin: 15px;
    padding: 0px;
    color: white;
    font-weight: 600;
}
li.nav_act {
    margin: 0px;
    padding: 15px;
    background-color: #6a9c89;
    border-radius: 5px;
}
li.nav_hover:hover {
    margin: 0px;
    padding: 15px;
    background-color: #3D5A80;
    border-radius: 5px;
}

/*banner*/
.banner {
    opacity: 30%;
}
h1 {
    text-align: center;
}

/*div beschrijving ervaringen*/
table {                   /*tabel*/
    border-collapse: collapse;
    padding-bottom: 50px;
    margin: auto;
}
th {
    border: 1px solid black;
    padding: 10px
}
tr {
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 5px;
}
.cert {
    padding-bottom: 50px;
}
.h2_proj {
    padding-top: 50px;
}
.proj {

    padding-bottom: 10px;
}

/*knop "naar boven"*/
.top_container {
    text-align: center;
    padding: 50px;
}
.top {
    padding: 10px;
    background-color: #98C1D9;
    border: none;
    border-radius: 10px;
    font-size: large;
}
.top:hover {
    background-color: #3D5A80;
    color: white;
    font-size: large;
}

/*footer*/
.footer {
    padding-top: 50px; 
    padding-bottom: 30px;/*spatie onder nav bar*/
}
.ul_footer {
    text-align: center
}

/*contactgegevens*/
.table_info {
    text-align: left;
    border: none;
    margin: 0;
}
.tr_info {
    border: none;
}
.td_info {
    border: none;
}