/*kleuren

achtergrond #F0F8FF
accent #98C1D9
knoppen #3D5A80
tekst #293241

*/

body, html {
    background-color: #e9efec; /*nog veranderen*/
    font-optical-sizing: auto;
    font-family: "Trirong", serif;
    font-weight: 300;
    font-style: normal;
}

/*nav bar*/
.nav {
    padding-bottom: 20px; /*spatie onder nav bar*/
}
ul {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #c4dad2;
    text-align: center;
}
a {
    color: #16423c;
    text-decoration: none;
}
li {
    display: inline;
    margin: 15px;
    padding: 0px;
    font-weight: 600;
    color: #16423c;
}
li.nav_act {
    margin: 0px;
    padding: 15px;
    background-color: #98C1D9;
    border-radius: 5px;
}
li.nav_hover:hover {
    margin: 0px;
    padding: 15px;
    background-color: #6a9c89;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.banner {
    max-width: 100%;
    opacity: 80%;
}

/*skien*/

/*.ski {
    display: flex;
}*/
.apres_ski {
    max-width: 100%;
    width: 200px;
}